*{
    font-family: 'inter', sans-serif;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
}
html, body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100px;
}
header img{
    padding-top:24px;
    padding-left: 40px;
}
main{
    width: 100%;
}

.words-display, .forca-display{
    display: none;
}

.start-game{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.begin-button{
    background: #0A3871;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
}

.begin-button, .new-word{
    font-size: 1.5em;
    width: 317px;
    height: 105px;
    border-radius: 24px;
}

//second page
.words-display{
    padding-left: 24px;
}
.add-word{
    display: flex;
    flex-direction: column;
    width: 688px;
    margin: 0 auto;
}
.text{
    width: 100%;
    height: 483px;
}

.text textarea{
    border: none;
    outline: none;
    resize: none;
    font-size: 32px;
}
.text textarea::placeholder{
    font-family: 'Inter';
    font-style: normal;
    color: #0A3871;
}
.itens-buttons{
    display: flex;
    flex-direction: row;
}
.buttons-words-page{   
    font-size: 32px;   
    width: 332px;
    height: 67px;
    border-radius: 24px;
}
.itens-buttons .buttons-words-page:nth-child(1){
    margin-right: 24px;
    background: #0A3871;
    color: #FFF;
}
.itens{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 24px;
    padding-bottom: 10px;
}

.itens p{
    padding-left: 5px;
}

//third page
.forca-display{
    width: 100%;
}
.game-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 688px;
}
.forca-image{
    width: 474px;
    height: 650px;
}
.forca-words{
    width: 464px;
    
}
.forca-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons-forca{
    width: 343px;
    height: 67px;
    border-radius: 24px;
    font-size: 32px;
}
.buttons-forca:nth-child(1){
    background: #0A3871;
    margin-right: 24px;
    color: #FFF;
}

@media screen and (max-width: 769px){
    header{
        width: 100%;
        height: 96px;
    }
    
    .start-game{
        height: 571px;
    }
    .begin-button{
        
    }
    .new-word{
        width: 300px;
        height: 67px;
        border-radius: 24px;
    }
    .words-display{
        padding-left: 24px;
    }
    .add-word{
        width: 100%;
    }
    .text{
        height: 550px;
    }
    .itens-buttons{
        width: 95%;
    }

    
}

@media screen and (max-width: 540px){
    header img{
        padding-left: 20px;
    }
    .begin-button, .new-word{
        font-size: 1.3em;
        width: 85%;
    }

    .words-display{
        width: 100%;
    }
    .itens{
        justify-content: 
    }
    .text, .itens-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .text{
        align-content: normal;
        justify-content: normal;
        align-items: normal;
        height: 403px;
    }
    .text textarea{
        font-size: 32px ;
    }
    .buttons-words-page{ 
        font-size: 40px;     
        margin-bottom: 10px;
        width: 95%;
    }
    .itens-buttons .buttons-words-page:nth-child(1){
        margin-right: 0;
    }


    .game-area{
        height: 600px;
    }
    .forca-image{
        width: 333px;
        height: 480px;
    }
    .forca-words{
        width: 304px;
        height: 116px;
    }
    .forca-buttons{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .buttons-forca{
        font-size: 40px;
    }
    .buttons-forca:nth-child(1){
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    
}

@media screen and (max-width: 359px){
    .buttons-words-page{ 
        font-size: 30px;
    }

}

